@using FormationMVC.ViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CreateVM

@{
}
<div class="container">
    <form method="post">
        <div class="mb-3">
            @Html.LabelFor(m=>m.Restaurant.Name)
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Restaurant.Name)
            </div>
            <span class="text-red"> @Html.ValidationMessageFor(m => m.Restaurant.Name)</span>

        </div>
        <div class="mb-3">
            @Html.LabelFor(m=>m.Restaurant.Address)
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Restaurant.Address)
            </div>
            <span class="text-red">   @Html.ValidationMessageFor(m => m.Restaurant.Address)</span>


        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Restaurant.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Restaurant.PhoneNumber, new { @class = "form-control" })
            </div>
            <span class="text-red"> @Html.ValidationMessageFor(m => m.Restaurant.PhoneNumber)</span>
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Restaurant.Cuisines)
            <select class="form-control" id="Restaurant_Cuisines" name="Restaurant.Cuisines">
                <option value="">Select cuisine</option>
                @foreach (var cuisine in Model.Cuisins)
                {
                    <option value="@cuisine.Name">@cuisine.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.Restaurant.Cuisines, "", new { @class = "text-danger" })
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>